<footer class="w-full h-auto px-2 py-4 text-sm lg:px-6 bg-black text-white">
  <div class="flex flex-col-reverse p-4 text-sm lg:flex-row lg:justify-between lg:p-0">
    <span class="flex items-center justify-center">
      <%= link_to root_path, class: "hidden sm:inline-block" do %>
        <%#= render_svg 'mark', styles: "fill-current" %>
        <%= image_tag 'bee-40x40.png', alt: 'therealrodk', class: 'mx-auto' %>
      <% end %>
      <div class="ml-4">
        <span class="red-shadow">the<span class="text-red-600">real</span>rod<span class="text-red-600">k</span></span>
        © <%= Date.current.year %>
      </div>
    </span>
    <ul class="list-none flex flex-wrap items-center justify-center">
      <li><%= link_to t(".about"), about_path, class: "no-underline block px-4 lg:my-0 my-2 red-link" %></li>
      <li><%= link_to t(".privacy"), privacy_path, class: "no-underline block lg:my-0 my-2 px-4 red-link" %></li>
      <li><%= link_to t(".terms"), terms_path, class: "no-underline block lg:my-0 my-2 px-4 red-link" %></li>
    </ul>
  </div>
</footer>
